<!DOCTYPE html>
<html>
<head>

  <title>Tectonomap</title>

  <%= include_gon %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
  
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<%= yield %>

</body>
</html>
